/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: $background-alternative-color;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}
