@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'footer';
@import 'title';
@import 'technologies';
@import 'technology';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-color-dark;
    display: flex;
    flex-direction: column;
}

* {
    color: $font-color-dark;
}

* {
    font-family: $font-2;
    font-size: medium;
}

* {
    box-sizing: border-box;
    border: 10;
    margin: 0;
    padding: 0;
}

.main {
    flex: 1 0 auto;
    padding-left: 1%;
}

.header,
.footer {
    flex: 0 0 auto;
}

.img-control {
    max-width: 500px;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-1;
    line-height: 2em;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

.img-control {
    max-width: 30%;
    border-radius: 10px;
    align-items: center;
    filter: brightness(80%);
}

* {
    box-sizing: border-box;
    border: 10;
    margin: 0;
    padding: 0;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $background-alternative-color-dark;
    margin-bottom: 1%;
}

.title * {
    color: $font-color-dark;
}

.nav * {
    color: $font-color-dark;
}

a:visited {
    color: $font-color-dark;
}

a:link {
    color: $font-color-dark;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: $background-alternative-color-dark;
    color: $font-color;
}

.footer p {
    color: $font-color-dark;
}

.footer a {
    color: $font-color-dark;
}

.tech-box a {
    color: $font-color-dark;
}

.tech-box {
    background-color: $box-color;
    border: 5px solid $background-color-dark;
}

.landingpage {
    border: 5px solid $box-color;
}

.tech-box a:visited {
    color: $font-color-dark;
}

.fab {
    color: $font-color-dark;
}

.fas {
    color: $font-color-dark;
}

.landingpage {
    background-color: $background-content-dark;
}

.main {
    color: $font-color-dark;;
}

.tech-landingpage {
    background-color: $background-content-dark;
    border: 5px solid $background-alternative-color-dark;
}

.tech-landingpage h1 {
    color: $font-color-dark;
}

.sidebar {
    background-color: $background-color-dark;
}

code {
    color: $font-color;
}

.landingpage-analysis {
    background-color: $background-alternative-color-dark;
    border: 5px solid $box-color;
    padding-left: 20%;
    padding-right: 20%;
}
