@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'footer';
@import 'title';
@import 'technologies';
@import 'technology';
@import 'gallery';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    background:
    linear-gradient(45deg, $background-color 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, $background-color 45px, transparent 45px, transparent 91px, $accent-color 91px, $box-color, transparent 135px),
    linear-gradient(-45deg, $background-color 23px, transparent 23px, transparent 68px, $accent-color 68px, $background-alternative-color 113px, transparent 113px, transparent 158px, $background-alternative-color 158px);
    background-color: $background-color;
    background-size: 128px 128px; 
}

* {
    color: $font-color;
}

* {
    font-family: $font-2;
    font-size: medium;
}

* {
    box-sizing: border-box;
    border: 10;
    margin: 0;
    padding: 0;
}

.main {
    flex: 1 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    border: 10;
}

.narrow {
    max-width: 700px;
}

.header,
.footer {
    flex: 0 0 auto;
    padding-left: 3%;
}

.img-control {
    max-width: 500px;
    border-radius: 10px;
    align-items: center;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-1;
    line-height: 2em;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.img-control {
    max-width: 30%;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
    border: 10;
    margin: 0;
    padding: 0;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $background-alternative-color;
    margin-bottom: 1%;
}

.landingpage-analysis {
    background-color: $background-content;
    border: 5px solid $box-color;
    padding-left: 20%;
    padding-right: 20%;
}

