/* technologies.scss */
* {
    box-sizing: border-box;
}

.landingpage {
    display: grid;
    gap: 1em 1em;
    background-color: rgb(197, 139, 139);
    margin: 3%;
    padding: 5%;
    border: 5px solid #961919;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
    color: #faebd7;
}

.tech-box {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    border: 5px solid #961919;
    color: #fff;
}

.grid {
    display: grid;
    grid-gap: 1rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px 600px 200px;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.main {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    grid-template-areas: 'top-left top-right' 'bottom bottom';
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    font-size: larger;
}

.side-bar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.footer {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.bottom { grid-area: bottom; }
.top-left { grid-area: top-left; }
.top-right { grid-area: top-right; }

@media screen and (max-width: 960px) {
    .main {
        grid-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'top-left' 'top-right' 'bottom';
    }
}

.large {
    grid-column: span 2;
    grid-row: span 2;
    vertical-align: middle;
}

.stubby {
    grid-column: span 1;
    grid-row: span 2;
    vertical-align: middle;
}

.wide {
    grid-column: span 3;
    grid-row: span 2;
    vertical-align: middle;
}
