/* technologies.scss */
* {
    box-sizing: border-box;
}

.tech-landingpage {
    display: grid;
    gap: 1em 1em;
    background-color: $background-content;
    border: 5px solid $accent-color;
    padding: 5%;
}

.tech-main {
    background-color: $background-alternative-color;
}

.grid {
    display: grid;
    grid-gap: 1rem;
}

.wrap-tech {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px;
    gap: 1em 1em;
}

.sidebar {
    background-color: $accent-color;
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10%;
    line-height: 200%;
}

.sidebar li {
    padding: 10px;
    border-radius: 10px;
}

.page-content {
    grid-column: 2;
    grid-row: 2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10%;
}

.tech-landingpage h1 {
    color: $font-color;
}

@media only screen and (max-device-width: 720px) {
    .sidebar {
        visibility: hidden;
    }
    
    .page-content {
        grid-column: 1;
        grid-row: 1;
        max-width: 320px;
    }
}
