$font-color: #000;
$font-alternative-color: #fff;
$font-1: 'Open Sans', sans-serif;
$font-2: 'Roboto', sans-serif;
$accent-color: #83decc;
$background-color: #c43400;
$background-alternative-color: #ff8d64;
$background-content: #fff;
$box-color: #007860;

$background-color-dark: rgb(29, 28, 26);
$font-color-dark: rgb(240, 239, 238);
$background-alternative-color-dark: rgb(109, 105, 99);
$background-content-dark: rgb(109, 76, 76);

$box-shadow1: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
